<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Planner</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    
    <header>
      <nav class="navbar navbar-default">
          <div class="navbar-header">
    	      <span class="fa fa-calendar"></span> Event Planner
    	    </div>
      </nav>
    </header>
    
    <div id="signupModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h1><span class="fa fa-sign-in"></span> Signup</h1>
	      	</div>
	      	<%- include signup.ejs %>
	      </div>
	  </div>
	  
	 <div id="loginModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h1><span class="fa fa-sign-in"></span> Login</h1>
	      	</div>
	      	<%- include login.ejs %>
	      </div>
	  </div>
	    
    <form action="/" method="post" style="background: #ddd;">
      <label for="event-title">
        <p>Event Title</p>
        <input type="text" id="event-title" name="title" autofocus required>
      </label>
      <label for="event-type">
        <p>Event Type</p>
        <input type="text" id="event-type" name="eventType" required>
      </label>
      <label for="event-host">
        <p>Event Host</p>
        <input type="text" id="event-host" name="eventHost" required>
      </label>
      <label for="event-location">
        <p>Location</p>
        <input type="text" id="event-location" name="eventLocation" required>
      </label>
      <label for="event-start">
        <p>Start Time</p>
        <input type="datetime-local" id="event-start" name="startDate" required>
      </label>
      <label for="event-end">
        <p>End Time</p>
        <input type="datetime-local" id="event-end" name="endDate" required>
      </label>
      <label for="event-guestList">
        <fieldset class="form-group" id="event-guestList">
            <input type="hidden" name="guestList" id="guestList" value="">
            <input type="text" class="form-control form-guestList" placeholder="Guest 1">
            <input type="text" class="form-control form-guestList" placeholder="Guest 2">
        </fieldset>
        <p id="add-guest">+ Add a Guest</p>
      </label>
      <label for="event-message">
        <p>Message (optional)</p>
        <input type="textarea" id="event-message" name="message">
      </label>
      <input type="submit">
    </form>
    
    <% if (user) { %>
      <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
    <% } else { %>
      <div id="signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</div>
      <div id="login" class="btn btn-default"><span class="fa fa-user"></span> Login</div>
    <% } %>

    <div class="grid" data-masonry='{ "columnWidth": 300, "itemSelector": ".grid-item", "isFitWidth": true, "gutter": 20 }'>
      <% events.forEach(function(event) { %>
        <div class="grid-item">
          <p><%= "Title: " + event.title %></p>
          <p><%= "Type: " + event.eventType %></p>
          <p><%= "Host: " + event.eventHost %></p>
          <p><%= event.startDate + " - " + event.endDate %></p>
          <p><%= "Guests: " + event.guestList.join(", ") %></p>
          <p><%= "Location: " + event.eventLocation %></p>
          <p><%= "Message: " + event.message %></p>
        </div>
      <% }) %>
    </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
  
  <script>
    var Guest = 3;
    $('#add-guest').click(function(e) {
      $('#event-guestList').append('<input type="text" class="form-control form-guestList" placeholder="Guest ' + Guest + '" >');
      Guest += 1;
    });
    
    $('#event-guestList').change(function() {
      var guests = [];
      $(".form-guestList").each(function() {
        var guestVal = $(this).val().replace(/\,/g, '&#44;');
        guests.push(guestVal);
      });
      $('#guestList').val(guests);
    });
			
		var signupModal = $('#signupModal');
		var loginModal = $('#loginModal');
		
		$('.close').on('click', function() {
    	signupModal.hide();
    	loginModal.hide();
    });
    
    $('#signup').on('click', function(e) {
      signupModal.show();
    });
    
    $('#login').on('click', function(e) {
      loginModal.show();
    });

  </script>
  
  </body>
</html>
