<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Planner</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    
    <header>
      <nav class="navbar navbar-default">
          <span class="fa fa-calendar"></span> Event Planner
      </nav>
    </header>
    
    <div id="user-options">
      <% if (user) { %>
        <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
      <% } else { %>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
      <% } %>
    </div>

    <div class="grid" data-masonry='{ "columnWidth": 300, "itemSelector": ".grid-item", "isFitWidth": true, "gutter": 20 }'>
      <% events.forEach(function(event) { %>
        <div class="grid-item">
          <h2><%= event.title %></h2>
          <p><%= event.eventType %> &bull; <span class="grid-item-label">Hosted by</span> <%= event.eventHost %></p>
          <hr>
          <p><span class="fa fa-clock-o"></span> <span class="grid-item-label">Starts</span> <%= event.startDate %></p>
          <p><span class="fa fa-clock-o"></span> <span class="grid-item-label">Ends</span> <%= event.endDate %></p>
          <p><span class="fa fa-map-marker"></span> <span class="grid-item-label">Where?</span> <%= event.eventLocation %></p>
          <% if (event.guestList.length > 0) { %>
            <p><span class="fa fa-user"></span> <span class="grid-item-label">Who's Going?</span> <%= event.guestList.join(", ") %></p>
          <% } %>
          <% if (event.message) { %>
            <hr>
            <p><span class="grid-item-label">Details:</span> <%= event.message %></p>
          <% } %>
        </div>
      <% }) %>
    </div>
    
    <footer class="footer">
      <div>
        <% if (user) { %>
          <a href="/new" class="btn btn-default newEvent">Add Event</a>
        <% } else { %>
          <a href="/signup" class="btn btn-default newEvent">Add Event</a>
        <% } %>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
  
  </body>
</html>
