<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Planner</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    
    <header>
      <nav class="navbar navbar-default">
          <div class="navbar-header">
    	      <span class="fa fa-calendar"></span> Event Planner
    	    </div>
      </nav>
    </header>
    
    <div id="signupModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h1><span class="fa fa-sign-in"></span> Signup</h1>
	      	</div>
	      	<%- include signup.ejs %>
	      </div>
	  </div>
	  
	  <div id="loginModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h1><span class="fa fa-sign-in"></span> Login</h1>
	      	</div>
	      	<%- include login.ejs %>
	      </div>
	  </div>
	    
	  <div id="newEventModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h1><span class="fa fa-calendar"></span> New Event</h1>
	      	</div>
	      	<%- include newEvent.ejs %>
	      </div>
	  </div>
    
    <div id="user-options">
      <% if (user) { %>
        <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
      <% } else { %>
        <div class="btn btn-default signup"><span class="fa fa-user"></span> Signup</div>
        <div class="btn btn-default login"><span class="fa fa-user"></span> Login</div>
      <% } %>
    </div>

    <div class="grid" data-masonry='{ "columnWidth": 300, "itemSelector": ".grid-item", "isFitWidth": true, "gutter": 20 }'>
      <% events.forEach(function(event) { %>
        <div class="grid-item">
          <p><%= "Title: " + event.title %></p>
          <p><%= "Type: " + event.eventType %></p>
          <p><%= "Host: " + event.eventHost %></p>
          <p><%= event.startDate + " - " + event.endDate %></p>
          <p><%= "Guests: " + event.guestList.join(", ") %></p>
          <p><%= "Location: " + event.eventLocation %></p>
          <p><%= "Message: " + event.message %></p>
        </div>
      <% }) %>
    </div>
    
    <footer class="footer">
      <div class="container">
        <% if (user) { %>
          <div id="newEvent" class="btn btn-default newEvent">Add Event</div>
        <% } else { %>
          <div class="btn btn-default newEvent signup">Add Event</a>
        <% } %>
      </div>
    </footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
  
  <script>
    var Guest = 3;
    $('#add-guest').click(function(e) {
      $('#event-guestList').append('<input type="text" class="form-control form-guestList" placeholder="Guest ' + Guest + '" >');
      Guest += 1;
    });
    
    $('#event-guestList').change(function() {
      var guests = [];
      $(".form-guestList").each(function() {
        var guestVal = $(this).val().replace(/\,/g, '&#44;');
        guests.push(guestVal);
      });
      $('#guestList').val(guests);
    });
			
		var signupModal = $('#signupModal');
		var loginModal = $('#loginModal');
		var newEventModal = $('#newEventModal');
		
		$('.close').on('click', function() {
    	signupModal.hide();
    	loginModal.hide();
    	newEventModal.hide();
    });
    
    $('.signup').on('click', function(e) {
      signupModal.show();
    });
    
    $('.login').on('click', function(e) {
      loginModal.show();
    });
    
    $('#newEvent').on('click', function(e) {
      newEventModal.show();
    });

  </script>
  
  </body>
</html>
